.venv/
.vscode/
.venv_fish/
__pycache__/
*.pyc


output/*
!output/.gitkeep

output/transcripts/*
!output/transcripts/.gitkeep

output/audio/*
!output/audio/.gitkeep

reference_voices/*
!reference_voices/.gitkeep

voice_files/*
!voice_files/.gitkeep

.env
.env.*
*.log
secrets.*
credentials.*

# --- OS ---
.DS_Store
Thumbs.db
desktop.ini
/.venv_fish
